PORT=3000
PUBLIC_BASE_URL=http://localhost:3000
ADMIN_USER=admin@basa3dworks.com
ADMIN_PASSWORD=troque-esta-senha
SESSION_SECRET=troque-este-segredo
PAYMENT_PROVIDER=mock
MERCADO_PAGO_ACCESS_TOKEN=
MERCADO_PAGO_PUBLIC_KEY=
MERCADO_PAGO_WEBHOOK_SECRET=
SHIPPING_PROVIDER=mock
MELHOR_ENVIO_TOKEN=
MELHOR_ENVIO_API_BASE=https://sandbox.melhorenvio.com.br
MELHOR_ENVIO_USER_AGENT=Basa 3D Works (contato@basa3dworks.com)
STORE_COMMISSION_PERCENT=0
PAYMENT_FEE_PERCENT=0
PAYMENT_FEE_FIXED=0
MARKETPLACE_ACCOUNT_ID=basa-3d-works
STRIPE_SECRET_KEY=
